@tailwind base;
@tailwind components;
@tailwind utilities;

.landing {
  background-image: url("./assets/bg_a.jpg");
}

.landing::after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #fd5564, #fe3c72);
  opacity: 0.4;
}

.content::-webkit-scrollbar {
  display: none;
}

.content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
